<footer>
    <small>Copyright &copy; <a href="index.html">Tokai Prison Project</a> and 
        <a href="https://github.com/Tokai-Prison-Project/tp-official-site/graphs/contributors">
            Contributors
        </a>  Some Rights Reserved.</small><br>
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ja">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Cc-by-nc-nd_icon.svg" alt="CC-BY-NC-ND">
        </a>
    <span class="pr">《Design:<a href="https://template-party.com/" target="_blank">Template-Party</a>》</span>
    </footer>